.vertical-centre {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
}

button {
    background-color: #D8D8D8 !important;
    color: black;
    border: none !important;
    font-size: 40px;
}

button:disabled {
    background-color: #D8D8D8 !important;
    opacity: 1.0 !important;
    color: grey !important;
    border: none !important;
}

.rounded-border {
    border-radius: 15px;
}

.form-switch .form-check-input {
    background-color: #555555 !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/></svg>") !important;
    box-shadow: none;
    border: none;
}

.form-switch .form-check-input:disabled {
    opacity: 1.0 !important;
}

.form-switch .form-check-input:focus {
    box-shadow: none;
    border: none;
}

.form-switch .form-check-input:checked {
    background-color: #697e79 !important;
    box-shadow: none;
    border: none;
}

.map-disabled {
    filter: grayscale(80%);
    pointer-events: none;
}

.disabled-label {
    color: #919191 !important;
}

.current-location-link {
    text-align: center;
    margin-top: 10px !important;
    font-size: 40px;
}
