.vertical-centre {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
}

#chime-button {
    background-color: #D8D8D8 !important;
    color: black;
    border: none !important;
    font-size: 40px;
}

button:disabled {
    background-color: #D8D8D8 !important;
    opacity: 1.0 !important;
    color: grey !important;
    border: none !important;
}

.rounded-border {
    border-radius: 20px;
    border: 5px solid #aaaaaa !important;
}

.form-switch .form-check-input {
    background-color: #555555 !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/></svg>") !important;
    box-shadow: none;
    border: none;
}

.form-switch .form-check-input:disabled {
    opacity: 1.0 !important;
}

.form-switch .form-check-input:focus {
    box-shadow: none;
    border: none;
}

.form-switch .form-check-input:checked {
    background-color: #697e79 !important;
    box-shadow: none;
    border: none;
}

.map-disabled {
    filter: grayscale(80%);
    pointer-events: none;
}

.disabled-label {
    color: #919191 !important;
}

.modal-body .form-check {
    display: inline-flex;
    align-items: center;
    height: 40px;
}

.disabled-time-zone-option-text {
    color: #919191 !important;
}

.custom-time-zone-button {
    width: 66px; 
    height: 38px;
    padding:4px 6px;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('./assets/ubuntu.mono.ttf');
}
